<!-- <div class="all-dialog">
  <div class="inner-dialog">
    <i class="far fa-times-circle"></i>
  </div>
  <mat-dialog-content class="d-flex flex-column justify-content-center align-items-center text">
    <img src="../../assets/img/logo_2c448879fece8b7f6463c6566ddcb9b8_1x (1).png" alt="">
    <p>To redeem this deal, you have to either link your Xclusives Card or become an Xclusives member</p>
    <p>Facing difficulties? Please reach us on</p>
    <img src="../../assets/img/Xclusives-Hotline-Number-White-150x45.png" alt="">
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="row">
      <div class="col-6">
        <button mat-button mat-dialog-close class="btn btn-lg">Link Your Xclusives card</button>
      </div>
      <div class="col-6">
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-lg">Get an Xclusives card</button>
      </div>
    </div>
  </mat-dialog-actions>
</div> -->
<h2 mat-dialog-title class="d-flex justify-content-between align-items-center">
  <img src="../../assets/img/logo.png" class="w-100" alt="" srcset="">
  <i class="far fa-times-circle" (click)="close()"></i>
</h2>

<mat-dialog-content>

  phone number:


</mat-dialog-content>

<mat-dialog-actions>
  <!-- <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button> -->
</mat-dialog-actions>
