.height{
  height: 500px !important;
}
.title-h1 {
  font-size: 40px;
  font-family: "Montserrat-bold" !important;
  color: #2d557e
  // color: var(--secondary-color) ;
  //  text-shadow: 0 0 3px rgb(250, 245, 245);
}
.icon{
  font-size: 30px;
  color: #2d557e
}
