<div class="header-pages d-flex justify-content-center align-items-center">
  <p class="title-h1">COPYRIGHTS</p>
</div>
<div class="container">
  <h3 class="mt-2">
    GENERAL
  </h3>
  <p><strong>Copyright © 2020 On Line Media S.A.E.</strong></p>
  <p><strong>Ownership of copyrights. </strong><span>he copyrights in this website and the material on this website
      (including but not
      limited to the text, computer code, artwork, photographs, images, music, audio material, video material and
      audio-visual material on this website) is owned by</span><strong>On Line Media S.A.E.</strong></p>
  <h3>COPYRIGHTS LICENSE</h3>
  <p><strong>On Line Media S.A.E.</strong> grants to you a worldwide non-exclusive royalty-free revocable license to:
  </p>
  <p>view this website and the material on this website on a computer or mobile device via a web browser; copy and store
    this website and the material on this website in your web browser cache memory; and print pages from this website
    for
    your own (personal and non-commercial) use.</p>
  <p><strong>On Line Media S.A.E.</strong> does not grant you any other rights in relation to this website or the
    material
    on this website. In other words, all other rights are reserved.</p>
  <p>For the avoidance of doubt, you must not adapt, edit, change, transform, publish, republish, distribute,
    redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website (in any
    form or media) without <strong>On Line Media S.A.E.</strong> prior written permission.</p>
  <h3>DATA MINING</h3>
  <p>The automated and/or systematic collection of data from this website is prohibited.</p>
  <h3>PERMISSIONS</h3>
  <p>You may request permission to use the copyrighted materials on this website by writing to
    <strong>info@goxclusives.com</strong>
  </p>
  <h3>LIMITATIONS OF LIABILITY FOR EXTERNAL LINKS</h3>
  <p>Our website contains links to the websites of third parties (external links). As the content of these websites is
    not
    under our control, we cannot assume any liability for such external content. In all cases, the provider of
    information
    of the linked websites is liable for the content and accuracy of the information provided. At the point in time when
    the links were placed, no infringements of the law were recognizable to us. As soon as an infringement of the law
    becomes known to us, we will immediately remove the link in question.</p>
  <h3>LIMITATIONS OF LIABILITY FOR INTERNAL CONTENT</h3>
  <p>The content of our website has been compiled with meticulous care and to the best of our knowledge. However, we
    cannot assume any liability for the up-to-dateness, completeness or accuracy of any of the pages.</p>
  <h3>DATA PROTECTION</h3>
  <p>A visit to our website can result in the storage on our server of information about the access (date, time, page
    accessed). This does not represent any analysis of personal data (e.g., name, address or e-mail address).</p>
  <h3>ENFORCEMENT OF COPYRIGHTS</h3>
  <p><strong>On Line Media S.A.E.</strong> takes the protection of its copyright very seriously.</p>
  <p>If <strong>On Line Media S.A.E.</strong> discovers that you have used its copyrighted materials in contravention of
    the license above, On Line Media S.A.E. may bring legal proceedings against you seeking monetary damages and an
    injunction to stop you using those materials. You could also be ordered to pay legal costs.</p>
  <p>If you become aware of any use of <strong>On Line Media S.A.E.</strong> copyrighted materials that contravenes or
    may
    contravene the license above, please report this by email to <strong>info@goxclusives.com</strong>.</p>
</div>
