
    <div class="row d-flex justify-content-center">
      <div class="col-11  py-3" *ngFor=" let vacancy of vacancies">
        <div class="card rounded shadow">
          <div class="card-body py-4">

            <div class="row ">
              <div class="d-flex justify-content-between align-items-center">
                <div class="row ">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class=" brand-name">{{vacancy.Name}}</p>
                  </div>
                  <p class="mt-2">{{vacancy.Description}}</p>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" mat-button
                class="btn btn-xclusive-stepper rounded  btn-lg  mt-2"  (click)="SaveID(vacancy.ID)" (click)="openDialogWithTemplateRef(myDialog)">  Apply for jop</button>
              </div>
            </div>

          </div>
        </div>
      </div>


      <app-not-found-data *ngIf="vacancies?.length==0"></app-not-found-data>


    </div>

    <ng-template #myDialog>
      <div >
        <div >
          <div >
            <!-- <h5 class="modal-title">Modal title</h5> -->
           <div class="d-flex justify-content-end">
            <i class="far fa-times-circle iconClose" matDialogClose></i>
           </div>
          </div>
          <div class="">
            <div class="">
              <div class="d-flex flex-column  align-items-center">
                <div class="">
                  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit(form)" autocomplete="off">
                    <div class="row">
                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                          <mat-label>Full Name</mat-label>
                          <input [(ngModel)]="newJoinCareer.CustomerName" matInput formControlName="customerName">
                        </mat-form-field>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                          <mat-label>Mobile</mat-label>
                          <input [(ngModel)]="newJoinCareer.Mobile" BlockPaste numberOnly matInput formControlName="Mobile">
                        </mat-form-field>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                          <mat-label>Email</mat-label>
                          <input [(ngModel)]="newJoinCareer.Email" email="true" matInput formControlName="Email">
                        </mat-form-field>
                      </div>

                      <div class="col-lg-6 col-md-6 col-sm-12">
                        <mat-form-field appearance="fill">
                          <mat-label>file</mat-label>
                          <ngx-mat-file-input placeholder="upload file" #file (change)="fileUpload($any($event))"
                            (click)="$any($event).target.value=null" formControlName="file"></ngx-mat-file-input>
                          <mat-icon matSuffix>folder</mat-icon>
                        </mat-form-field>
                      </div>
                    </div>

                <div class="d-flex justify-content-end">
                  <button type="submit" mat-button
                  class="btn btn-xclusive-stepper rounded  btn-lg mb-5 mt-2">Save</button>
                </div>

                  </form>
                </div>
              </div>
            </div>

          </div>
          <!-- <div class="d-flex align-self-stretch">

            <button type="button" class=" btn btn-xclusive-second  btn-lg">Get an Xclusives card</button>
          </div> -->
        </div>
      </div>
      </ng-template>

<!--      <ngx-spinner size="medium" type='ball-clip-rotate'></ngx-spinner>
-->































