

.img{
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}
.card-brand
{
  .card-body {
    padding: 0;
    // width: 100%;
  }

}

.second-circle{
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid 5px rgba(0, 0, 0, 0.125);

  // margin-top: 28px;
}

// i{
//   color: #9b9999;
// }

// .all{
//   height: auto !important;
//   width: auto !important;
// }



  .brand-head{
     height: 300px;
    width: 100% !important;
    // position: relative;
   // object-fit: cover;
// background-color: red;

  }
  share-button{
    display: flex !important;
    justify-content: center !important;
  }

